
    ** Here are additional interesting image URLs that can be used for the banners**
    http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552677927EDR_F0642088NCAM00354M_.JPG
    http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552682016EDR_F0642088NCAM07753M_.JPG
    http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552682049EDR_F0642088NCAM07753M_.JPG


