<!DOCTYPE HTML>
<!--
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Mars Art</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="public/css/main.css" type="text/css"/>
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Mars Art</h1>
							<p class="major">Exploring the beauty of the red planet from it's surface</p>
							<p>The Mars Art project aims to explore the beauty of the red planet by making rover images easier to search through and view.</p>
							<p>To the Right is an image taken by Curiosity on December 8th 2012</p>
							<ul class="actions stacked">
								<li><a href="#first" class="button big wide smooth-scroll-middle">Take a Look</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/00121/opgs/edr/ncam/NLA_408244754EDR_F0050926NCAM00216M_.JPG" alt="Image from Curiosity rover on Sol 121 of its mission on Mars">
						</div>
					</section>

					<!-- Two  -->
					<section class="banner style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Take a Look</h2>
							<p>Start exploring with a random image. A random image will be selected from one of Curiosity's Navigation cameras.</p>
							<ul class="actions stacked">
								<li><a class="button" id="get-random-button">Get Random</a></li>
								<li><span id="random-photo-note"></span></li>
							</ul>
							<p>Note: Images are not filtered for quality or interest. It may take several attempts to select a high quality interesting image.</p>
						</div>
						<div class="image">
							<img id="get-random-image" src="https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/ncam/NLB_486265192EDR_S0481570NCAM00546M_.JPG" alt="An image from the surface of Mars retrieved at random" />
						</div>
					</section>

				<!-- Three -->
					<section class="banner style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>Exploring the Surface of Mars</h2>
							<p>NASA has landed several rovers on Mars.</p>
							<ul>
								<li>Sojorner</li>
								<li>Spirit</li>
								<li>Opportunity</li>
								<li>Curiosity</li>
								<li>Perseverance</li>
							</ul>
							<p>Each of these rovers were equipped cameras that served several purposes, from navigation to scientific exploration. Over the generations of rovers, those cameras captured stunning images ranging from stark black and white pictures of an alien landscape to images of great scientific importance allowing us to peer into the history of the red planet. </p>
							<ul class="actions stacked">
								<li><a href="/cameras" class="button">Explore With Curiosity</a></li>
        						<!-- Opportunity API img_src URLs redirect to a webpage, and do not deliver images. <li><a href="random-opportunity-page.html" class="button">Explore With Opportunity</a></li> -->
        						<!-- Spirit API img_src URLs redirect to a webpage, and do not deliver images. <li><a href="random-spirit-page.html" class="button">Explore With Spirit</a></li> -->
							</ul>
						</div>
						<div class="image">
							<img src="https://mars.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552677608EDR_F0642088NCAM00255M_.JPG" alt="">
						</div>
						<!-- 
							** Here are additional interesting image URLs that can be used for the banners**
							http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552677927EDR_F0642088NCAM00354M_.JPG
							http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552682016EDR_F0642088NCAM07753M_.JPG
							http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01748/opgs/edr/ncam/NRB_552682049EDR_F0642088NCAM07753M_.JPG
						 -->
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/KapnKricket" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/kirk.esterline/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/capn_cricket/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.linkedin.com/in/kirk-esterline/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/Kirk-Esterline" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
							</ul>
							<p>&copy; <a href="https://esterenkodesign.com">Esterenko Design</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/public/js/jquery.min.js"></script>
			<script src="/public/js/jquery.scrollex.min.js"></script>
			<script src="/public/js/jquery.scrolly.min.js"></script>
			<script src="/public/js/browser.min.js"></script>
			<script src="/public/js/breakpoints.min.js"></script>
			<script src="/public/js/util.js"></script>
			<script src="/public/js/main.js"></script>
			<script src="/public/js/apis/mainApi.js"></script>
	</body>
</html>